<form method="post" action="{{ path('proposal_delete', {'id': proposal.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer votre vision ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proposal.id) }}">
    <button class="btn red">Suprrimer</button>
</form>
