{% extends 'base.html.twig' %}

{% block title %}Proposal index{% endblock %}

{% block body %}
    <div class="container mt-3 mt-md-5 px-0 px-sm-3">
        <div class="row mt-0 mt-md-5 pt-3 pt-md-5 mb-5">
            <div class="col text-center">
                <h3 class="headline">Proposez votre vision du <b><i>nouveau monde</i></b>.</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for proposal in proposals %}
                <div class="col-12 col-sm-6 col-lg-4 px-0 px-sm-3">
                    <a href="{{ path('proposal_show', {'id': proposal.id}) }}" class="reset card-link">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ proposal.title }}</h5>
                                <p class="card-text">{{ proposal.author.firstName }}</p><span class="text-white badge">{{ proposal.likes|length }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="col text-center">
                    <p>Pas encore de proposition</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
